.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #2d2939;
}

.title h1 {
  font-family: "Ruda", Sans-Serif;
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.headline::after {
  content: "";
  border-bottom: 3px solid rgba(139, 133, 193, 1);
  width: 25%;
  margin: 2rem auto;
}

.header {
  margin-bottom: 2.5vh;
}

.img-wrapper {
  display: flex;
  flex-flow: nowrap;
  align-content: center;
  justify-content: center;
  height: 100%;
  margin-top: 2%;
}

.img-wrapper img {
  margin: 2%;
}
